<div class="container">
    <img src="assets/img/burger.png" alt="">
    <h1>the Dirty Burger</h1>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
        </div>
        <input type="text" class="form-control" placeholder="Your Burger">
        <button type="btn" class="btn btn-primary">Submit</button>
    </div>
    <p>Enter a burger you want to eat and click the submit button</p>
    <small class="text-muted">We dont judge :)</small>
</div>